<h2><%= @creator.name %></h2>

<div><%= image_tag @creator.get_profile_image(300, 300) %></div>

<%= form_with model: @review, url: creator_reviews_path(creator_id: @creator.id), method: :post do |f| %>
  <div id="star">
    <%= f.label :star, "評価" %>
    <%= f.hidden_field :star, id: :review_star %>
　</div>
　  <%= f.submit "評価する" %>
  <script>
　　$('#star').empty();
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      scoreName : 'review[star]',
      half: false
    });
  </script>
<% end %>

<table>
  <tr>
    <th>プロフィール</th>
    <td><%= @creator.profile %></td>
  </tr>
</table>

<% @creator.items.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.image, :size => '100x100' %>
    <% end %>
  </div>
  <table>
    <tr>
      <th>作品名</th>
      <td><%= link_to item.name, item_path(item.id) %></td>
    </tr>
    <tr>
      <th>価格（税抜き）</th>
      <td><%= item.price %></td>
    </tr>
    <tr>
      <th>販売情報</th>
      <% if item.is_active == true %>
        <td>販売中</td>
      <% else %>
        <td>未販売</td>
      <% end %>
    </tr>
  </table>
<% end %>

<div><%= link_to "オーダーを送る", new_creator_making_path(@creator.id) %></div>