<div class="container">
  <div class="row">

    <div class="col-12">
      <h4 class="text-success"><%= flash[:notice] %></h4>
    </div>

    <div class="col-12">
      <h2 class="text-info mt-5 mb-3"><%= @creator.name %></h2>
    </div>

    <div class="col-4">
      <div class="mb-3"><%= image_tag @creator.get_profile_image(300, 300) %></div>

      <% unless Follow.find_by(creator_id: @creator.id) %>
        <div class="mb-3"><%= link_to "フォローする", follows_path(creator_id: @creator.id), method: :post, class: "btn btn-outline-info" %></div>
      <% else %>
        <p class="text-success mb-5"><strong>フォロー済み</strong></p>
      <% end %>

      <div id="star-rate<%= @creator.id %>"></div>
        <script>
          $('#star-rate<%= @creator.id %>').empty();
          $('#star-rate<%= @creator.id %>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly: true,
            score: <%= @creator.reviews.average(:star).to_f.round(1) %>
          });
        </script>
        <div class="mb-5"><%= link_to "評価する", new_creator_review_path(@creator.id), class: "text-info" %></div>

        <div class="border mb-5">
          <p class="text-info mb-3"><strong>プロフィール</strong></p>
          <p><%= @creator.profile %></p>
        </div>

        <div><%= link_to "オーダーを送る", new_creator_making_path(@creator.id), class: "btn btn-info" %></div>
        <% if @creator.galleries.present? %>
          <div class="mt-3"><%= link_to "個展情報を見る", galleries_path(creator_id: @creator.id), class: "btn btn-outline-success" %></div>
        <% end %>
      </div>

      <div class="col-8 row">
        <% @items.each do |item| %>
          <div class="col-4 h-50 mb-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image, class: "mw-100 mh-100 mb-3" %>
            <% end %>

            <p class="mb-1">作品名<span>「<%= link_to item.name, item_path(item.id), class: "text-info" %>」</span></p>
            <p class="mb-1">価格<span>　 ¥<%= (item.price * 1.1).floor.to_s(:delimited) %></span></p>
            <% if item.is_active == true %>
              <p class="text-info"><strong>販売中</strong></p>
            <% else %>
              <p class="text-danger"><strong>未販売</strong></p>
            <% end %>
          </div>
        <% end %>

        <div class="mx-auto">
          <%= paginate @items %>
        </div>
      </div>
    </div>
  </div>