<h2><%= @creator.name %></h2>

<div><%#= image_tag @creator.profile_image, :size => '200x200' %></div>

<%= form_with model: @creator, url: creator_path, method: :patch do |f| %>
  <div>
    <%= f.label :star, "評価" %>
    <%= f.hidden_field :star, id: :review_star %>
　</div>
　<script>
　  $(document).ready(function() {
      $('#star-rating').raty({
        score: 3, // デフォルトの評価を設定
        path: 'images/', // 星の画像が保存されているフォルダのパス
        half: true, // 半分の星も使用するかどうか
        click: function(score, evt) {
          alert('You rated this ' + score + ' stars!');
        }
      });
    });
　</script>
<% end %>

<table>
  <tr>
    <th>プロフィール</th>
    <td><%= @creator.profile %></td>
  </tr>
</table>

<% @creator.items.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.image, :size => '100x100' %>
    <% end %>
  </div>
  <table>
    <tr>
      <th>作品名</th>
      <td><%= link_to item.name, item_path(item.id) %></td>
    </tr>
    <tr>
      <th>価格（税抜き）</th>
      <td><%= item.price %></td>
    </tr>
    <tr>
      <th>販売情報</th>
      <% if item.is_active == true %>
        <td>販売中</td>
      <% else %>
        <td>未販売</td>
      <% end %>
    </tr>
  </table>
<% end %>

<div><%= link_to "オーダーを送る", new_creator_making_path(@creator.id) %></div>