<div class="container">
  <h1 class="text-center text-info mt-5 mb-5">フォロー一覧</h1>
  <div class="row">
    <% @follows.each do |follow| %>
      <div class="col-md-4 col-12 mb-3">
        <div class="card">
          <div><%= image_tag follow.creator.get_profile_image(100, 100) %></div>
          <div class="mr-2 text-right mb-2"><%= link_to "フォロー解除", follow_path(follow.id), method: :delete, data: { confirm: "フォローを解除しますか?" }, class: "btn btn-outline-danger" %></div>
          <div id="star-rate<%= follow.creator.id %>", class="ml-2"></div>
            <script>
              $('#star-rate<%= follow.creator.id %>').empty();
              $('#star-rate<%= follow.creator.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly: true,
                score: <%= follow.creator.reviews.average(:star).to_f.round(1) %>
              });
            </script>
          <div class="card-body">
            <h5 class="card-title"><strong><%= link_to follow.creator.name.truncate(8), creator_path(follow.creator.id), class: "text-info" %></strong></h5>
            <p class="card-text"><%= follow.creator.profile.truncate(20) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>