<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-info mt-5 mb-5">マイページ編集</h2>

      <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
        <table>
          <tr>
            <th>名前</th>
            <td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th>名前（カナ）</th>
            <td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号（ハイフンなし）</th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th>電話番号（ハイフンなし）</th>
            <td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email %></td>
          </tr>
        </table>
        <div class="mt-3"><%= f.submit "更新する", class: "btn btn-outline-info" %></div>
      <% end %>
    </div>
  </div>
</div>