<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-info mt-5 mb-5">マイページ</h2>

        <p>名前　　　　　　 <span><%= @customer.last_name %> <%= @customer.first_name %></span></p>

        <p>名前（カナ）　　 <span><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></span></p>

        <p>郵便番号　　　　 <span><%= @customer.postal_code %></span></p>

        <p>住所　　　　　　 <span><%= @customer.address %></span></p>

        <p>電話番号　　　　 <span><%= @customer.telephone_number %></span></p>

        <p>メールアドレス　 <span><%= @customer.email %></span></p>

      <div class="mt-5 mb-3"><%= link_to "編集する", edit_customers_path, class: "btn btn-outline-info" %></div>
      <div><%= link_to "退会する", customers_out_path, class: "btn btn-danger" %></div>
    </div>
  </div>
</div>