<div class="container">
  <h1 class="text-info mt-5 mb-3">スタイル</h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>スタイル</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @styles.each do |style| %>
        <tr>
          <td><%= style.id %></td>
          <td><%= style.where %></td>
          <td><%= link_to "削除", admin_style_path(style.id), data: { confirm: "削除しますか?" }, method: :delete, class: "btn btn-outline-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_with model: @style, url: admin_styles_path, method: :post do |f| %>
    <p class="text-info"><strong>新規登録</strong><span class="ml-2"><%= f.text_field :where %></span></p>
    <div><%=f.submit "登録する", class: "btn btn-outline-info" %></div>
  <% end %>