<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2 class="text-info mt-5 mb-3">Welcome to Ocean</h2>

      <div class="col-3"><%= render 'customer/items/serch' %></div>

      <div class="col-9">
        <% @items.each do |item| %>
          <div>
            <div>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, :size => '250x250' %>
              <% end %>
            </div>
            <p><%= link_to item.name, item_path(item.id) %></p>
            <p>¥<%= item.price %></p>
            <% if item.is_active == true %>
              <p>販売中</p>
            <% else %>
              <p>未販売</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>