<h2>オーダー情報一覧</h2>

<table>
  <thead>
    <tr>
      <th>注文日</th>
      <th>注文者</th>
      <th>希望価格</th>
      <th>制作状況</th>
    </tr>
  </thead>
  <tbody>
    <% @makings.each do |making| %>
      <tr>
        <td><%= making.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= making.customer.last_name %> <%= making.customer.first_name %></td>
        <td><%= making.price %></td>
        <td><%= making.is_product_i18n %></td>
        <td><%= link_to "詳細へ", creator_making_path(making.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>