<div class="container">
<h2 class="text-info mt-5 mb-3">オーダー情報一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th class="font-weight-lighter">注文日</th>
      <th class="font-weight-lighter">注文者</th>
      <th class="font-weight-lighter">希望価格</th>
      <th class="font-weight-lighter">制作状況</th>
      <th></th>
      <th>DM</th>
    </tr>
  </thead>
  <tbody>
    <% @makings.each do |making| %>
      <tr>
        <td><strong><%= making.created_at.strftime("%Y/%m/%d") %></strong></td>
        <td><strong><%= making.customer.last_name %> <%= making.customer.first_name %></strong></td>
        <td><strong>¥<%= making.price.to_s(:delimited) %></strong></td>
        <td class="text-info"><strong><%= making.is_product_i18n %></strong></td>
        <td><%= link_to "詳細へ", creator_making_path(making.id), class: "btn btn-outline-info" %></td>
        <td>
          <%= link_to creator_rooms_path(making_id: making.id), method: :post do %>
            <% if Notification.where(room_id: making.room.id, checked: false).present? %>
              new
            <% else %>
              <i class="far fa-envelope fa-lg"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>