<h2>注文一覧</h2>

<table>
  <tr>
    <th>購入日時</th>
    <th>名前</th>
    <th>注文情報</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      <td><%= order.customer.last_name %> <%= order.customer.first_name %></td>
      <td><%= order.is_receive %></td>
      <td><%= link_to "詳細へ", admin_order_path(order.id) %></td>
    </tr>
  <% end %>
</table>