<table>
  <thead>
    <tr>
      <th>作品検索</th>
      <th>
        <%= form_with url: items_path, method: :get do |f| %>
          <p><%= f.text_field :word %><%= f.submit "検索" %></p>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>カラー</th>
    </tr>
    <% @colors.each do |color| %>
      <tr>
        <th></th>
        <td><%= link_to color.name, items_path(color_id: color.id) %></td>
      </tr>
    <% end %>
    <tr>
      <th>サイズ</th>
    </th>
    <% @sizes.each do |size| %>
      <tr>
        <th></th>
        <td><%= link_to size.large, items_path(size_id: size.id) %></td>
      </tr>
    <% end %>
    </tr>
    <tr>
      <th>ジャンル</th>
    <tr>
    <% @genres.each do |genre| %>
      <tr>
        <th></th>
        <td><%= link_to genre.theme, items_path(genre_id: genre.id) %></td>
      </tr>
    <% end %>
    </tr>
    <tr>
      <th>スタイル</th>
    </tr>
    <% @styles.each do |style| %>
      <tr>
        <th></th>
        <td><%= link_to style.where, items_path(style_id: style.id) %></td>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>