<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center mt-5 mb-3">作品一覧</h2>

      <div class="row">
        <div class="col-3"><%= render 'customer/items/serch' %></div>
        <div class="col-9 row">
          <% @items.each do |item| %>
            <div class="col-4 h-50 mb-3 text-center">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, class: "mw-100 mh-100" %>
              <% end %>
              <table class="mx-auto">
                <tr>
                  <th>作品名</th>
                  <td><%= link_to item.name, item_path(item.id) %></td>
                </tr>
                <tr>
                  <th>価格（税抜き）</th>
                  <td><%= item.price %></td>
                </tr>
                <tr>
                  <th>販売情報</th>
                  <% if item.is_active == true %>
                    <td>販売中</td>
                  <% else %>
                    <td>未販売</td>
                  <% end %>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>