<h2>ジャンル</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.id %></td>
        <td><%= genre.theme %></td>
        <td><%= link_to "削除", admin_genre_path(genre.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
  <div>新規登録 <%= f.text_field :theme %></div>
  <div><%=f.submit "登録する" %></div>
<% end %>