<h2>個展情報登録</h2>

  <%= form_with model: @gallery, url: creator_galleries_path, method: :post do |f| %>

    <div><%=f.text_field :name %></div>
    <div><%= f.text_area :overview %></div>
    <div>
     <%= f.label :address, "場所" %>
     <%= f.text_field :address, class: "form-control" %>
    </div>
    <%= f.submit "投稿する", class: "btn btn-info" %>

  <% end %>