<div class="container">
  <h1 class="text-info mt-5 mb-3">マイページ</h1>

  <div class="col-4"><%= image_tag @creator.get_profile_image(300, 300) %></div>

  <div class="row mb-3">
    <div class="col-2">
      <p>名前</p>
    </div>
    <div class="col-10">
      <p class="text-info"><strong><%= @creator.name %></strong></p>
    </div>

    <div class="col-2">
      <p>プロフィール</p>
    </div>
    <div class="col-10">
      <p class="text-info"><strong><%= @creator.profile %></strong></p>
    </div>

    <div class="col-2">
      <p>郵便番号</p>
    </div>
    <div class="col-10">
      <p class="text-info"><strong>〒<%= @creator.postal_code.insert(3, "-") %></strong></p>
    </div>

    <div class="col-2">
      <p>住所</p>
    </div>
    <div class="col-10">
      <p class="text-info"><strong><%= @creator.address %></strong></p>
    </div>

    <div class="col-2">
      <p>電話番号</p>
    </div>
    <div class="col-10">
      <p class="text-info"><strong><%= @creator.telephone_number.insert(3, "-").insert(8, "-") %></strong></p>
    </div>

    <div class="col-2">
      <p>メールアドレス</p>
    </div>
    <div class="col-10">
      <p class="text-info"><strong><%= @creator.email %></strong></p>
    </div>
  </div>

  <div class="mb-2"><%= link_to "編集する", edit_creator_creators_path, class: "btn btn-outline-info" %></div>
  <div class="mb-5"><%= link_to "個展情報を載せる", new_creator_gallery_path, class: "btn btn-outline-success" %></div>
  <div><%= link_to "退会する", creator_creators_out_path, class: "btn btn-outline-danger" %></div>
</div>