<div class="container">
  <h1 class="text-info mt-5 mb-3">通知</h1>

  <% @notifications.each do |notification| %>

    <% if notification.action == "Room" %>
      <div class="row mt-3">
        <% if notification.checked == false %>
          <div class="col-1 text-danger">
            new!
          </div>
          <div class="col-6">
            <strong><%= notification.room.making.customer.last_name %> <%= notification.room.making.customer.first_name %>さんからメッセージが届きました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_notifications_check_path(notification_id: notification.id), class: "btn btn-outline-info" %>
          </div>
        <% else %>
          <div class="col-1"></div>
          <div class="col-6">
            <strong><%= notification.room.making.customer.last_name %> <%= notification.room.making.customer.first_name %>さんからメッセージが届きました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_room_path(notification.room.id), class: "btn btn-outline-info" %>
          </div>
        <% end %>
      </div>

    <% elsif notification.action == "Request" %>
      <div class="row mt-3">
        <% if notification.checked == false %>
          <div class="col-1 text-danger">
            new!
          </div>
          <div class="col-6">
            <strong><%= notification.making.customer.last_name %> <%= notification.making.customer.first_name %>さんからリクエストが届きました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_notifications_check_path(notification_id: notification.id), class: "btn btn-outline-info" %>
          </div>
        <% else %>
          <div class="col-1"></div>
          <div class="col-6">
            <strong><%= notification.making.customer.last_name %> <%= notification.making.customer.first_name %>さんからリクエストが届きました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_making_path(notification.making.id), class: "btn btn-outline-info" %>
          </div>
        <% end %>
      </div>

    <% elsif notification.action == "Making" %>
      <div class="row mt-3">
        <% if notification.checked == false %>
          <div class="col-1 text-danger">
            new!
          </div>
          <div class="col-6">
            <strong><%= notification.order.customer.last_name %> <%= notification.order.customer.first_name %>さんから注文が届きました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_notifications_check_path(notification_id: notification.id), class: "btn btn-outline-info" %>
          </div>
        <% else %>
          <div class="col-1"></div>
          <div class="col-6">
            <strong><%= notification.order.customer.last_name %> <%= notification.order.customer.first_name %>さんから注文が届きました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_order_path(notification.order.id), class: "btn btn-outline-info" %>
          </div>
        <% end %>
      </div>

    <% elsif notification.action == "Item" %>
      <div class="row mt-3">
        <% if notification.checked == false %>
          <div class="col-1 text-danger">
            new!
          </div>
          <div class="col-6">
            <strong><%= notification.order.customer.last_name %> <%= notification.order.customer.first_name %>さんから注文が届きました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_notifications_check_path(notification_id: notification.id), class: "btn btn-outline-info" %>
          </div>
        <% else %>
          <div class="col-1"></div>
          <div class="col-6">
            <strong><%= notification.order.customer.last_name %> <%= notification.order.customer.first_name %>さんから注文が届きました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_order_path(notification.order.id), class: "btn btn-outline-info" %>
          </div>
        <% end %>
      </div>

    <% elsif notification.action == "Payment" %>
      <div class="row mt-3">
        <% if notification.checked == false %>
          <div class="col-1 text-danger">
            new!
          </div>
          <div class="col-6">
            <strong>入金されました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_notifications_check_path(notification_id: notification.id), class: "btn btn-outline-info" %>
          </div>
        <% else %>
          <div class="col-1"></div>
          <div class="col-6">
            <strong>入金されました!</strong>
          </div>
          <div class="col-3 text-info">
            <%= notification.created_at.strftime("%y/%m/%d %H:%M:%S") %>
          </div>
          <div class="col-2">
            <%= link_to "確認", creator_order_path(notification.order.id), class: "btn btn-outline-info" %>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
</div>