<div class="container">
  <h1 class="text-info mt-5 mb-3">カラー</h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>カラー</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @colors.each do |color| %>
        <tr>
          <td><%= color.id %></td>
          <td><%= color.name %></td>
          <td><%= link_to "削除", admin_color_path(color.id), method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-outline-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_with model: @color, url: admin_colors_path, method: :post do |f| %>
    <p class="text-info mb-3"><strong>新規登録</strong><span class="ml-2"><%= f.text_field :name %></span></p>
    <div><%=f.submit "登録する", class: "btn btn-outline-info" %></div>
  <% end %>
</div>