<div class="container">

  <% if @address.errors.any? %>
    <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col">
      <h2 class="text-info mt-5">配送先</h2>
      <h3 class="text-info text-center mt-3 mb-5">配送先登録</h3>
        <div class="text-center">
          <%= form_with model: @address, url: addresses_path(@address.id), method: :post do |f| %>
            <div class="mb-3">
              郵便番号（ハイフンなし）　<%= f.text_field :postal_code %>
            </div>
            <div class="mb-3">
              住所　<%= f.text_field :address %>
            </div>
            <div class="mb-3">
              宛名　<%= f.text_field :name %>
            </div>
            <div><%= f.submit "登録する", class: "btn btn-outline-info" %></div>
          <% end %>
        </div>
      <h3 class="text-info text-center mt-5 mb-3">配送先一覧</h3>
      <div class="text-center">
        <table class="table">
          <thead>
            <tr>
              <th class="font-weight-lighter">郵便番号</th>
              <th class="font-weight-lighter">住所</th>
              <th class="font-weight-lighter">宛名</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address| %>
              <tr>
                <td>〒<%= address.postal_code.insert(3, "-") %></td>
                <td><%= address.address.truncate(5) %></td>
                <td class="text-info"><strong><%= address.name %></strong></td>
                <td><%= link_to "編集する", edit_address_path(address.id), class: "btn btn-outline-info" %></td>
                <td><%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-outline-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>