<div class="container">
  <h2 class="text-info ml-3 mt-5 mb-3">オーダー情報一覧</h2>

  <table class="table">
    <thead>
      <tr>
        <th class="text-info font-weight-lighter">注文日</th>
        <th class="text-info font-weight-lighter">要望</th>
        <th class="text-info font-weight-lighter">希望価格</th>
        <th class="text-info font-weight-lighter">制作状況</th>
        <th></th>
        <th>DM</th>
      </tr>
    </thead>
    <tbody>
      <% @makings.each do |making| %>
        <tr>
          <td><strong><%= making.created_at.strftime("%Y/%m/%d") %></strong></td>
          <td><strong><%= making.request.truncate(9) %></strong></td>
          <td><strong>¥<%= (making.price * 1.1).floor.to_s(:delimited) %></strong></td>
          <td><strong><%= making.is_product_i18n %></strong></td>
          <td><%= link_to "詳細へ", making_path(making.id), class: "btn btn-outline-info" %></td>
          <td>
            <%= link_to rooms_path(making_id: making.id), method: :post do %>
              <% if Notification.exists?(room_id: making&.room&.id, checked: false) %>
                new
              <% else %>
                <i class="far fa-envelope fa-lg"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>