<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center text-info mt-5 mb-3">カート</h2>
      <div class="mb-3"><%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-outline-danger" %></div>
      <div class="text-center">
        <table class="table">
          <thead>
            <tr>
              <th class="font-weight-lighter">イメージ</th>
              <th class="font-weight-lighter">作品名</th>
              <th class="font-weight-lighter">価格（税抜き）</th>
              <th class="font-weight-lighter">販売情報</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% sold_flag = true %>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td><%= image_tag cart_item.item.get_image, :size => '100x100' %></td>
                <td class="text-info"><strong>「<%= cart_item.item.name %>」</strong></td>
                <td><strong>¥<%= (cart_item.item.price * 1.1).floor.to_s(:delimited) %></strong></td>
                <% if cart_item.item.is_active == true %>
                  <td class="text-info"><strong>販売中</strong></td>
                <% else %>
                  <% sold_flag = false %>
                  <td class="text-danger"><strong>未販売</strong></td>
                <% end %>
                <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-outline-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="text-center mt-5 mb-3"><%= link_to "他の作品も見る", items_path, class: "btn btn-outline-dark" %></div>
      <% if !@cart_items.empty?  && sold_flag %>
        <div class="text-center"><%= link_to "情報入力に進む", new_order_path, class: "btn btn-outline-info" %></div>
      <% end %>
    </div>
  </div>
</div>