<h2>作品一覧</h2>

<div><%= link_to "出品する", new_creator_item_path %></div>

<% @items.each do |item| %>
  <div><%=link_to item.name, creator_item_path(item.id) %></div>
  <div><%= item.introduction %></div>
  <div><%= item.color.name %></div>
  <div><%= item.size.large %></div>
  <div><%= item.genre.theme %></div>
  <div><%= item.style.where %></div>
  <div><%= item.price %></div>
  <div>
    <% if item.is_active == true %>
      <span>販売中</span>
    <% else %>
      <span>未販売</span>
    <% end %>
  </div>
  <div><%= link_to "編集する", edit_creator_item_path(item.id) %></div>
  <div><%= link_to "削除する", creator_item_path(item.id), method: :delete %></div>
<% end %>
