<h2>作品一覧</h2>

<div><%= link_to "出品する", new_creator_item_path %></div>

<table>
  <thead>
    <tr>
      <th>イメージ</th>
      <th>作品名</th>
      <th>価格（税抜き）</th>
      <th>販売情報</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to creator_item_path(item.id) do %>
            <%= image_tag item.image, :size => '100x100' %>
          <% end %>
        </td>
        <td><%= link_to item.name, creator_item_path(item.id) %></td>
        <td><%= item.price %></td>
        <% if item.is_active == true %>
          <td>販売中</td>
        <% else %>
          <td>未販売</td>
        <% end %>
        <td><%= link_to "編集する", edit_creator_item_path(item.id) %></td>
        <td><%= link_to "削除する", creator_item_path(item.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>